 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Segoe UI', sans-serif;
     background: #0f0f1a;
     color: white;
     line-height: 1.6;
 }

 /* HEADER */
 header {
     position: fixed;
     width: 100%;
     top: 0;
     background: rgba(0, 0, 0, 0.6);
     backdrop-filter: blur(8px);
     padding: 15px 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 1000;
 }

 header h1 {
     color: gold;
 }

 nav a {
     color: white;
     text-decoration: none;
     margin-left: 20px;
     transition: 0.3s;
 }

 nav a:hover {
     color: gold;
 }

 /* HERO */
 .hero {
     height: 100vh;
     position: relative;
     overflow: hidden;
 }

 .slide {
     position: absolute;
     width: 100%;
     height: 100%;
     background-size: cover;
     background-position: center;
     opacity: 0;
     transition: opacity 1s ease-in-out;
 }

 .slide.active {
     opacity: 1;
 }

 .hero-content {
     position: relative;
     z-index: 2;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: rgba(0, 0, 0, 0.6);
     text-align: center;
     padding: 20px;
 }

 .hero h2 {
     font-size: 48px;
     margin-bottom: 20px;
 }

 .hero p {
     font-size: 20px;
     margin-bottom: 30px;
 }

 .btn {
     padding: 10px 30px;
     background: gold;
     color: black;
     border: none;
     font-weight: bold;
     border-radius: 50px;
     cursor: pointer;
     transition: 0.3s;
     margin: 20 20;

 }

 .btn:hover {
     background: orange;
 }

 /* SECTIONS */
 .section {
     padding: 80px 20px;
     text-align: center;
 }

 .section h2 {
     color: gold;
     margin-bottom: 20px;
 }

 .cards {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 20px;
     margin-top: 40px;
 }

 .card {
     background: #1b1b2f;
     padding: 20px;
     border-radius: 12px;
     width: 250px;
     transition: 0.3s;
 }

 .card:hover {
     transform: translateY(-5px);
     background: #23234a;
 }

 /* MODAL */
 .modal {
     display: none;
     position: fixed;
     inset: 0;
     background: rgba(0, 0, 0, 0.8);
     justify-content: center;
     align-items: center;
     z-index: 2000;
 }

 .modal-content {
     background: #1b1b2f;
     padding: 30px;
     border-radius: 12px;
     width: 150%;
     max-width: 400px;
     text-align: center;
     animation: fadeIn 0.3s ease;
 }

 @keyframes fadeIn {
     from {
         transform: scale(0.8);
         opacity: 0;
     }

     to {
         transform: scale(1);
         opacity: 1;
     }
 }

 .modal-content input,
 .modal-content textarea {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border: none;
     border-radius: 6px;
 }

 .close {
     float: right;
     cursor: pointer;
     font-size: 20px;
 }

 footer {
     background: #0a0a14;
     padding: 20px;
     text-align: center;
 }